<html lang="en" dir="ltr">
   <head>
    <title>About Us ?</title>
      <meta charset="utf-8">

      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">

      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet">


      <link rel="stylesheet" href="/static/css/about.css">
      <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
      <script src="https://kit.fontawesome.com/a076d05399.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    </head>

    <style>
      body{
    background: url(/static/images/vg5.jpg);
    background-position: center;
    background-size: cover;
    height: 1vh;
    top: 0  ;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;   
      background-repeat: repeat-y;

    </style>

   <body>


      <nav>
    <div class="logo" >-- Recipe Book --</div>
    <label for="btn" class="icon"><span class="fa fa-bars"></span></label>
    <input type="checkbox" id="btn">
    <ul>
      <li>
        <label for="btn-1" class="show">Home<i class="fas fa-caret-down" style="padding-left: 10px;"></i></label>
        <a href="home" ><i class="fa fa-home" style="padding-right: 10px;"></i>Home</a></li>
        <li><a href="about" > About Us<i class="fa fa-question-circle" style="padding-left: 10px;"></i></a></li>
        <li><a href="contact">Contact</a></li></ul></nav>
        
        <p>
       <b> "Recipe Book"  </b> is a website that allows users to enter or write their own signature dish, ingredients and procedures into their own recipes. You can give your recipe a unique name or call it what you want. Please take note of the provided link on your book so that you can continue to add more recipes to your own book. 
        
        </p>
      <div class="content">

        



<script>
$('.icon').click(function(){
$('span').toggleClass("cancel");
});
</script>
   </body>
</html>