<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Philippine Cuisine</title>

      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="/static/css/contact.css">
      <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
      <script src="https://kit.fontawesome.com/a076d05399.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   </head>
   <style>
      
   body::after {
    content: "";
    background: url(/static/images/contact.jpg);
    opacity: 58%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
    background-size: 100% 100%;
    background-repeat: repeat-x;
  }

   </style>
   <body>
      <nav>
         <div class="logo" >
            -- Recipe Book --
         </div>
         <label for="btn" class="icon">
         <span class="fa fa-bars"></span>
         </label>
         <input type="checkbox" id="btn">
         
      </nav>
      <a href="https://www.facebook.com/101161905299484/posts/101164618632546/">
         <i class="fa fa-facebook"></i></a> 
         <a href="https://www.facebook.com/101161905299484/posts/101164618632546/" 
         style="padding-left: 1%;">Recipe Book</a><br>

      <a href="https://www.instagram.com/philippine_cuisine/">
         <i class="fa fa-instagram"></i></a>
         <a href="https://www.instagram.com/philippine_cuisine/" 
         style="padding-left: 1%;">@Recipe_Book</a> <br>

      <a href="https://twitter.com/PhilippineCuis1">
         <i class="fa fa-twitter"></i></a>
         <a href="https://twitter.com/PhilippineCuis1" 
         style="padding-left: 1%;">@RecipeBook</a> <br>

      <a href="https://mail.google.com/mail/u/0/#inbox">
         <i class="fa fa-google"></i></a>
         <a href="https://mail.google.com/mail/u/0/#inbox" 
         style="padding-left: 1%;">recipebook@gmail.com</a> <br>
         
<h6>"A Simple Hello could Lead to Million Things"</h6>
      
      <div class="content">
      <script>
         $('.icon').click(function(){
           $('span').toggleClass("cancel");
         });
      </script>
   </body>
</html>