<html>
<head>
	<title>Recipe Book</title>

<!--	<script> 

		var cnt = 3;
		function addMoreIngredients() {
			var ing = document.getElementById('Ingredients'),
			clone = ing.cloneNode(true);
			clone.id = "Ingredients"+cnt; clone.name = "Ingredients"+cnt;
			document.body.appendChild(clone);
			document.body.appendChild(document.createTextNode("   "));
			document.body.appendChild(document.createElement("br"));
			cnt += 1;
		}
	</script>
-->

<link rel="stylesheet" href="/static/css/profile.css">
<style>

</style>

</head>

<body style="background-color: powderblue">

 <nav>
    <div class="logo" >-- Recipe Book --</div>
    <label for="btn" class="icon"><span class="fa fa-bars"></span></label>
    <input type="checkbox" id="btn">
    <ul>
      <li><a href="/{{CreatorId.id}}/">+ Add New Recipe</a></ul></nav>



       <h1 style="color: #6495ED;font-size: 6vw;
    font-family: 'Allura', cursive; text-align: center;padding-top: 7%">-- {{CreatorId.crName|title}}'s Book --</h1> 


    <form class="form" style="text-align: center" action="/{{CreatorId.id}}/edit">

        <h1 style="color: #6495ED;font-size: 3.0vw;
    font-family: 'Dancing Script', cursive;">{{CreatorId.crName|title}}</h1> 

      <label style=""> 
        Creator Name
      </label>

      <h1 style="color: #6495ED;font-size: 3.0vw; padding-top: 7%;font-family: 'Dancing Script', cursive;">{{CreatorId.crGender}}</h1>

      <label style=""> 
        Gender
      </label> 


      <h1 style="color: #6495ED;font-size: 3.0vw;
    font-family: 'Dancing Script', cursive; padding-top: 7%;">{{CreatorId.crEAddress}}</h1>

    <label style=""> 
        Email Address
      </label> 



    <h1 style="color: #6495ED;font-size: 3.0vw;
    font-family: 'Dancing Script', cursive; padding-top: 7%;">{{CreatorId.crContactNumber}}</h1> 

    <label style=""> 
        Contact Number
      </label><br><br><br><br>

      <button style="width: 23%;
    background-color: #6495ED;
    color: white;
    padding: 10px 20px;
    margin-top: 1%;
    border: none;
    border-radius: 90px;
    cursor: pointer;
    margin-bottom: 2%;">Update Profile</button>
    <br><br><br>



      
    </form>




</script>
</body>
</html>
